body {
  background-image: url(https://raw.githubusercontent.com/plinkoglegabriel/Group2Project/main/rocket.gif);
  font-family: "Bungee Shade";
}
.correct {
  color: #03fc39;
}

.incorrect {
  color: red;
}
a {
  text-decoration: none;
  color: #f4eb49;
  font-size: 25px;
}

h1 {
  font-size: 100px;
  text-align: center;
}
h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 20%;
}
