body {
  background-color: rgb(4, 34, 4);
  color: white;
  background-image: url(../Group2Project/solar\ system.jpg);
  background-repeat: no-repeat;
}

.title {
  font-family: "Bungee Shade";
  color: #fff;
  margin-bottom: 2%;
  text-align: center;
  font-size: 300%;
}


.img-click {
  width: 90px;
  height: 85px;
  top: 100%;
  left: 10%;
  color: rgb(59, 99, 104);
}

.text {
  font-family: "Chango";
  position: absolute;
  top: 110%;
  left: 10%;
  font-size: 200%;
  padding: 5%;
}
input.a {
  position: absolute;
  top: 96%;
  left: 11%;
  background-color: rgb(201, 149, 71);
  color: black;
  font-weight: bold;
}
input.b {
  position: absolute;
  top: 95%;
  left: 16%;
  background-color: rgb(245, 211, 61);
  color: black;
  font-weight: bold;
}
input.c {
  position: absolute;
  top: 94%;
  left: 23%;
  background-color: rgb(0, 33, 218);
  color: rgb(7, 170, 7);
  font-weight: bold;
}
input.d {
  position: absolute;
  top: 92%;
  left: 30%;
  background-color: rgb(196, 65, 4);
  color: rgb(253, 253, 253);
  font-weight: bold;
}
input.e {
  position: absolute;
  top: 94%;
  left: 43%;
  background-color: rgb(235, 142, 4);
  color: black;
  font-weight: bold;
}
input.f {
  position: absolute;
  top: 89%;
  left: 70%;
  background-color: rgba(134, 100, 48, 0.788);
  color: white;
  font-weight: bold;
}
input.g {
  position: absolute;
  top: 83%;
  left: 80%;
  background-color: rgb(190, 190, 190);
  color: rgb(17, 16, 16);
  font-weight: bold;
}
input.h {
  position: absolute;
  top: 74%;
  left: 90%;
  background-color: rgb(63, 103, 214);
  color: white;
  font-weight: bold;
}
